.wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);

    max-width: 100%;
    width: 100%;

    .option {
        display: flex;
        align-items: flex-start;
        gap: var(--space-md);

        width: 100%;

        .key, .value {
            display: inline-flex;
            align-items: center;
            justify-content: start;

            line-height: var(--lh-md);
        }

        .key {
            color: var(--text-secondary);
            font-size: var(--fs-sm);
            font-weight: var(--fw-medium);
        }

        .value {
            color: var(--text-primary);
            font-size: var(--fs-md);
            font-weight: var(--fw-regular);
        }

        .divider {
            flex: 1;
            align-self: flex-end;
            min-width: var(--space-xl);
            border-bottom: 1px dotted var(--border-primary);
        }
    }
}