.wrapper {
    border: 1px solid var(--border-primary);
    border-radius: var(--radius-lg);

    // width: fit-content;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-xs);

    padding: var(--space-sm);

    font-size: var(--fs-md);
    line-height: var(--lh-sm);
    color: var(--text-primary);
}