$label-position: (
    top: (direction: column, align-items: start, justify-content: center, pd-left: 16px),
    right: (direction: row, align-items: center, justify-content: start, pd-left: 0)
);

@mixin label-direction($position) {
    $values: map-get($label-position, $position);

    flex-direction: map-get($values, direction);
    align-items: map-get($values, align-items);
    justify-content: map-get($values, justify-content);

    .labelText {
        padding-left: map-get($values, pd-left);
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: var(--space-xs);

    width: 100%;
    max-width: 100%;

    .msgBox {
        padding-left: 16px;
    }

    .label {
        display: flex;
        width: 100%;
        max-width: 100%;
        gap: var(--space-sm);

        cursor: pointer;

        &.top { @include label-direction(top); }
        &.right { @include label-direction(right); }
    }
}