.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 0 0 0 transparent;
    border-radius: var(--radius-xs);
    border: none;
    background: none;

    cursor: pointer;

    transition: transform var(--duration-normal) ease, box-shadow var(--duration-slow) ease;

    svg {
        color: var(--text-tertiary);
        transition: color var(--duration-normal) ease;
    }

    &:hover {
       svg {
        color: var(--text-secondary);
       }
    }

    &:active {
        transform: scale(var(--press-scale-md));
    }

    &:focus-visible {
        // outline: 2px solid var(--focus-accent);
        // outline-offset: 0px;
        outline: none;
        box-shadow: var(--box-shadow-normal);
    }
}